.vscode/style.cfg
.vscode/settings.json
previews/
.VSCodeCounter/2021-04-10_23-55-54/details.md
.VSCodeCounter/2021-04-10_23-55-54/results.csv
.VSCodeCounter/2021-04-10_23-55-54/results.txt
.VSCodeCounter/2021-04-10_23-55-54/results.md
